html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

main {
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  padding: 30px;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Arial, sans-serif;
}

button:hover {
  cursor: pointer;
}
